<odoo> 
  <record model="ir.ui.view" id="event_oolist">
        <field name="name">event.event.form</field>
        <field name="model">event.event</field>
        <field name="inherit_id" ref="event.view_event_form"/>
        <field name="arch" type="xml">
          <xpath expr="//field[@name='address_id']" position="after">
            <field name="theme_event" /> 
          </xpath>
          <xpath expr="//field[@name='organizer_id']" position="replace">
            <field name="event_orgnizer" />
          </xpath> 
          <xpath expr="//page[@name='event_communication']" position="after">
            <page string="material equpment">
              <group>
                <field name="material_ids" />
              </group>
            </page>
          </xpath>
        </field>       
  </record> 
</odoo> 
